/*----------------------------------------------*/
/*Variables*/
/*----------------------------------------------*/
/* In Context */
/*----------------------------------------------*/
/* $distfromtop: ; */
/*----------------------------------------------*/
/*                    Base                      */
/*                                              */
/*----------------------------------------------*/
body,
ul,
li {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #6e6f71; }

ul,
li {
  list-style: none; }

li {
  display: inline-block; }

.center-text {
  text-align: center; }

.lt-ie10 #site-canvas {
  display: none; }

.lt-ie10 #nocando {
  max-width: 440px;
  margin: 200px auto;
  padding: 32px;
  background: #fff; }
  .lt-ie10 #nocando h1 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 32px; }

::-moz-selection {
  /* Code for Firefox */
  background: #9dcf80; }

::selection {
  background: #e0e0df; }

.site-canvas {
  z-index: -1; }

/*----------------------------------------------*/
/*                  Base: ;                     */
/*                                              */
/*                  Text                        */
/* weights: 300 thin, 400 regular, 700 bold, 900 black */
/*----------------------------------------------*/
h1 {
  font-weight: 500;
  display: inline; }

a {
  text-decoration: none;
  color: #6e6f71; }
  a:hover {
    color: #b6b6b6; }
  a:focus {
    color: #b6b6b6; }

.titleheader {
  font-size: 2em;
  font-weight: 900;
  color: #6e6f71; }

.sub-head {
  font-size: 1.4em;
  font-weight: 400;
  padding: 2px 0 8px 0;
  color: #6e6f71; }

.textbox {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 4px; }

/*----------------------------------------------*/
/*Nav Bar Style*/
/*----------------------------------------------*/
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  display: none;
  width: 100%;
  min-height: 50px;
  color: #dbdbda;
  border-bottom: 2px #dbdbda solid;
  background-color: white; }
  #header ul {
    display: inline-block; }
  #header li {
    display: inline-block;
    margin: 0; }
  #header focus {
    outline: none; }

.headerwidth {
  max-width: 1200px;
  height: 52px;
  margin-right: auto;
  margin-left: auto; }

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  min-height: 50px;
  color: #dbdbda;
  border-bottom: 2px #dbdbda solid;
  background-color: white; }

.footer-container {
  width: 100%;
  padding-top: 24px;
  background-color: #efefef; }
  .footer-container .sectionheader {
    padding-bottom: 36px; }

.footer-mm {
  line-height: 32px;
  width: 100%;
  height: 30px;
  margin-top: 32px;
  color: white;
  background-color: #595a5a; }

.nav-icon {
  float: left;
  padding-top: 7px;
  padding-left: 8px; }
  @media screen and (max-width: 700px) {
    .nav-icon {
      display: block;
      width: 100%; }
      .nav-icon img {
        margin-top: 4px; } }

.nav-list {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 18px; }
  @media screen and (max-width: 700px) {
    .nav-list {
      display: block;
      width: 100%;
      height: 70px;
      margin: 0 auto 0 auto;
      text-align: center; } }

.nav-input {
  position: relative;
  bottom: 3px;
  display: inline-block;
  float: right;
  padding: 0 16px 0 40px; }
  @media screen and (max-width: 700px) {
    .nav-input {
      top: 14px;
      display: block;
      width: 100%;
      padding-bottom: 10px; } }

.nav-item {
  padding: 0 10px 0 10px; }

.nav-links {
  float: center; }

/*----------------------------------------------*/
/*Interactive Buttons*/
/*----------------------------------------------*/
input[type='text'] {
  box-sizing: none;
  width: auto;
  height: auto;
  margin: none;
  padding: 2px 6px 4px 6px;
  color: #6e6f71;
  border: 0 solid #dbdbda;
  -webkit-border-radius: 5px;
  outline: none;
  background-color: #f4f4f4;
  box-shadow: -1px -2px #dbdbda; }
  input[type='text']:focus {
    background-color: white; }

.button {
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  transition: active .25s;
  text-decoration: none;
  color: #fff;
  border: 0;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 6px;
  background-color: #9dcf80;
  /*  border:1px solid $darkgreen; */
  box-shadow: 0 2px #38803d; }
  .button:hover {
    background-color: #72ba48; }
  .button:active {
    position: relative;
    background-color: #9dcf80;
    box-shadow: none; }
  .button:focus {
    padding: 4px 8px;
    border: 2px solid #c8e4b8;
    background-color: #8fc86d; }
  .button a {
    text-decoration: none;
    color: white; }
    .button a:hover {
      color: white; }
    .button a:visited {
      color: white; }

::-webkit-input-placeholder {
  color: #bbbcbd; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #828386; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #828386; }

:-ms-input-placeholder {
  color: #828386; }

/*----------------------------------------------*/
/*              Overview Styles   */
/*               Navigation Bar   */
/*----------------------------------------------*/
#Subhead-Container {
  max-width: 1100px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  background-color: white; }

#Subhead-Content {
  position: absolute;
  top: 20px;
  width: 100%;
  max-width: 1100px; }

.Username {
  position: absolute;
  top: 90px;
  display: inline-block;
  padding-left: 14px; }
  .Username p {
    font-size: .5em;
    font-weight: 300;
    margin: 0;
    margin-top: 6px;
    color: #6e6f71; }

.ProfilePicture {
  z-index: 100;
  display: inline-block;
  padding-top: 50px;
  padding-left: 32px; }
  @media screen and (max-width: 1100px) {
    .ProfilePicture {
      margin-right: auto;
      margin-left: auto; } }

.Subhead-Nav {
  position: absolute;
  top: 95px;
  right: 0;
  display: inline-block;
  float: right;
  padding-right: 24px;
  background-color: white; }
  .Subhead-Nav a {
    margin-right: 10px;
    margin-left: 10px;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-bottom: 0; }
    .Subhead-Nav a:hover {
      color: #999;
      background-color: #ddd; }
  .Subhead-Nav .activeLink {
    border: none;
    background-color: #eee; }
  @media screen and (max-width: 700px) {
    .Subhead-Nav {
      top: 125px;
      right: auto;
      left: 53.1%;
      margin-right: auto;
      margin-left: auto;
      transform: translate(-50%, 0); } }

/*----------------------------------------------*/
/*              Overview Styles   */
/*                 Containers      */
/*----------------------------------------------*/
#User-Container {
  width: 100%;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee; }

#Main-User-Container {
  position: relative;
  margin-right: 20px;
  margin-left: 20px; }
  @media screen and (max-width: 1100px) {
    #Main-User-Container {
      height: auto; } }

.white {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white; }

.Recent-Badges-Container {
  position: absolute;
  min-width: 300px;
  max-width: 584px;
  margin: 20px 24px; }
  @media screen and (max-width: 1100px) {
    .Recent-Badges-Container {
      position: relative;
      max-width: 75%;
      margin: 50px 10px 0 10px;
      margin-right: auto;
      margin-left: auto; } }

.Quick-User-Stats-Container {
  position: absolute;
  right: 0;
  width: 430px;
  height: 384px;
  margin: 20px 24px; }
  @media screen and (max-width: 1100px) {
    .Quick-User-Stats-Container {
      position: relative;
      width: 75%;
      margin-right: auto;
      margin-left: auto; } }

.Quick-User-Stats-Content {
  font-weight: 300;
  width: 100%;
  height: 374px;
  padding-top: 10px;
  border: solid 1px #ccc;
  background-color: white;
  box-shadow: 1px 2px 1px rgba(55, 55, 55, 0.1); }
  .Quick-User-Stats-Content h1 {
    font-size: 2.5em;
    display: inline; }
  .Quick-User-Stats-Content h2 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 2.8;
    display: inline;
    float: right;
    margin: 0; }
  .Quick-User-Stats-Content p {
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 8px; }
    .Quick-User-Stats-Content p b {
      font-size: 1em;
      font-weight: 300;
      float: right; }

.Quick-User-Stats-Block {
  display: inline-block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.08); }

.Contribute-Timeline-Container {
  width: 96%;
  height: 180px;
  margin-right: auto;
  margin-left: auto; }

.Contribute-Timeline-Content {
  height: 130px;
  background-color: white; }
  .Contribute-Timeline-Content.tall {
    height: 155px; }

.Move-over {
  margin-top: 20px;
  margin-left: 40px; }

/*----------------------------------------------*/
/*              Overview Styles     */
/*                  Text            */
/*----------------------------------------------*/
.Block-header {
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 8px;
  padding-top: 14px; }

.Badge-Roll {
  position: relative;
  display: inline; }
  .Badge-Roll li {
    padding: 8px; }

/*----------------------------------------------*/
/*              Overview Styles   */
/*                  Text            */
/*----------------------------------------------*/
/*.hashtag-title{
  font-weight: 900;
  font-size: 1.8em;
}

.user-roll{
  width: 240px;
  li{
    padding-bottom:4px;
  }
}

.usertot{
  font-weight: 700;
  font-size: 1em;
  color: $darkestgrey;
  position: relative;
  display: inline-block;
  float: right;
}
*/
/*----------------------------------------------*/
/*             Badge Views Style    */
/*                                   */
/*----------------------------------------------*/
.badgeicon {
  position: relative;
  float: left;
  pointer-events: none; }

.badge-home {
  width: 400px;
  height: 200px; }
  .badge-home img {
    float: left;
    margin: 20px; }
  .badge-home hr {
    max-width: 80%; }
  @media screen and (max-width: 630px) {
    .badge-home {
      width: auto;
      height: auto; } }

.badge-Details {
  position: relative;
  float: right;
  width: 210px;
  text-align: left; }
  @media screen and (max-width: 630px) {
    .badge-Details {
      float: initial;
      margin-right: auto;
      margin-left: auto;
      text-align: center; } }

.badge-Name {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 2px;
  padding-top: 40px; }

.Badge-Description {
  font-weight: 300;
  margin-bottom: 10px; }

.line-break {
  float: right;
  width: 190px;
  height: 3px;
  margin-right: 20px;
  margin-bottom: 18px;
  background-color: #c7c7c5; }

.Badge-Container {
  min-width: 300px;
  max-width: 100%;
  margin: 20px 24px;
  margin-bottom: 0; }
  @media screen and (max-width: 1100px) {
    .Badge-Container {
      position: relative;
      max-width: 75%;
      margin: 50px 10px 0 10px;
      margin-right: auto;
      margin-left: auto; } }

/*----------------------------------------------*/
/*Container Styles*/
/*----------------------------------------------*/
.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto; }

.sub-container {
  border: #dbdbda solid 1px; }

.sectionheader {
  padding-bottom: 32px; }

.text-box {
  width: 400px;
  padding: 14px; }

.badge-box {
  width: 400px;
  height: 100%;
  padding: 14px; }

.badgeroll-frame {
  width: 100%; }
  @media screen and (max-width: 630px) {
    .badgeroll-frame {
      text-align: center; } }

.badgeroll-center {
  max-width: 832px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px; }
  @media screen and (max-width: 1101px) {
    .badgeroll-center {
      max-width: 400px; } }
  @media screen and (max-width: 600px) {
    .badgeroll-center {
      padding: 0; } }

/*----------------------------------------------*/
/*FullStats Sytling*/
/*----------------------------------------------*/
#MapContainer {
  width: 96%;
  min-width: 300px;
  margin: 0 auto 20px auto; }

.MapContent {
  height: 360px;
  padding: 10px;
  background-color: white; }

#NumberContainer {
  position: absolute;
  right: 0;
  width: 520px;
  height: 384px;
  margin: 20px 24px; }
  @media screen and (max-width: 1100px) {
    #NumberContainer {
      position: relative;
      width: 75%;
      margin-right: auto;
      margin-left: auto; } }

.NumberContent {
  height: 360px;
  padding: 10px;
  border: solid 1px #ccc;
  background-color: white;
  box-shadow: 1px 2px 1px rgba(55, 55, 55, 0.1); }

#map {
  width: 100%;
  height: 100%;
  border: solid 1px #ccc;
  box-shadow: 1px 2px 1px rgba(55, 55, 55, 0.1); }

#map1 {
  height: 100%; }

.box {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px; }

#Recent-Container {
  display: inline-block;
  width: 500px;
  max-width: 90%;
  height: 275px;
  margin: 20px;
  padding: 0; }
  @media screen and (max-width: 100px) {
    #Recent-Container {
      margin-right: auto;
      margin-left: auto; } }

#Next-Container {
  display: inline-block;
  width: 500px;
  height: 240px;
  margin: 20px;
  padding: 0; }
  @media screen and (max-width: 100px) {
    #Next-Container {
      margin-right: auto;
      margin-left: auto; } }

.Badge-Box-Content {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto; }
  .Badge-Box-Content.front {
    text-align: center; }

#Badge-Container {
  min-width: 300px;
  max-width: 100%;
  padding-top: 30px; }
  @media screen and (max-width: 1100px) {
    #Badge-Container {
      position: relative;
      max-width: 75%;
      margin: 50px 10px 0 10px;
      margin-right: auto;
      margin-left: auto; } }

#Stats-Container {
  display: inline-block;
  width: 1040px;
  max-width: 100%;
  margin: 20px;
  padding: 0; }
  @media screen and (max-width: 1134px) {
    #Stats-Container {
      max-width: 95%; } }
  @media screen and (max-width: 600px) {
    #Stats-Container {
      max-width: 90%; } }

.card {
  width: 100%;
  height: inherit;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 3px lightgrey; }

.Card-title {
  font-size: 1.4em;
  font-weight: 800;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 2px;
  text-align: center;
  color: #bbb; }

/*----------------------------------------------*/
/* Card Styling */
/*----------------------------------------------*/
.Card-Content {
  padding: 20px;
  padding-top: 10px;
  word-wrap: break-word; }
  .Card-Content p {
    margin: 4px 0; }

.Card-Left {
  float: left;
  width: 49%; }

.Card-Right {
  float: right;
  width: 47%;
  text-align: center; }
  .Card-Right img {
    padding-top: 10px; }

.Card-Badge-Name {
  position: relative;
  padding-top: 10px; }

h3 {
  font-size: 2em;
  margin: 4px 0 8px; }

.Card-Section-Title {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 2px;
  border-bottom: 1px solid #d5d5d6; }

.Card-Textbox {
  padding-bottom: 4px; }

.Split-3 {
  /*  background-color: rgba(0,0,0,0.1); */
  display: inline-block;
  width: 33.3%;
  height: 200px;
  vertical-align: top; }

table {
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  /*  tr:nth-child(even) {
  }
  tr:nth-child(odd) {
     background-color: #EEE;
  }*/ }

th,
td {
  padding: 5px 0;
  text-align: left;
  border-bottom: 1px solid #bbbcbd; }

.Search-Container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eee; }

.search-bar-wrapper {
  width: 340px;
  margin-right: auto;
  margin-left: auto; }

.Search-Box {
  position: absolute;
  top: 160px;
  width: 100%; }
  .Search-Box input {
    font-family: 'lato';
    font-size: 1em;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 10px;
    background-color: white; }
    .Search-Box input.search-bar-submit {
      width: 100px;
      padding-left: 0;
      transition: background-color .1s;
      color: #6e6f71;
      border: 1px solid #dbdbda;
      border-radius: 4px;
      outline: none;
      background-color: #f4f4f4; }
      .Search-Box input.search-bar-submit:active {
        background-color: white; }
  .Search-Box img {
    padding-bottom: 40px; }

.Search-Content {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.search-bar-suggestions {
  margin-top: 10px;
  text-align: left; }
  .search-bar-suggestions li {
    display: block;
    width: 194px;
    margin-top: 4px;
    padding: 4px;
    cursor: pointer;
    transition: background-color .3s;
    background-color: #f4f4f4; }
    .search-bar-suggestions li:hover {
      background-color: white; }

.Pie-Tin {
  font-family: 'Lato', sans-serif;
  margin: 10px 0;
  text-align: center; }

.ChartControls {
  font-family: 'Lato', sans-serif;
  text-align: center; }
  .ChartControls input {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
    border: 1px solid 1px;
    border: 1px solid #87888b;
    border-radius: 2px;
    background-color: #dbdbda; }
    .ChartControls input:active {
      border-color: #a1a2a4;
      background-color: white; }
    .ChartControls input:focus {
      outline: none; }
    .ChartControls input:hover {
      border-color: #aeafb0;
      background-color: #fefefe; }
    .ChartControls input.disabled {
      pointer-events: none;
      opacity: .65;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.75) 3px, rgba(255, 255, 255, 0.75) 6px); }

.next-badge-overlay {
  font-size: 2em;
  font-weight: 800;
  position: absolute;
  color: white; }

.next-badge-overlay {
  position: relative;
  height: auto;
  margin: auto;
  text-align: center; }

.nextBadgeHome {
  position: relative;
  width: 140px;
  margin-right: auto;
  margin-left: auto; }
  .nextBadgeHome p {
    position: absolute;
    top: 36px;
    left: 38px; }
