/*----------------------------------------------*/
/*Variables*/
/*----------------------------------------------*/
$osmgreen: #9dcf80;
$darkgreen: #38803D;
$darkgrey: #606161;
$lightgrey: #dbdbda;
$border-grey: lighten($darkgrey, 40);
$darkestgrey: #303030;

$mmTeal: #23bcc1;
$mmYello: #fbda32;
$mmGreen: #8bc544;
$mmred: #e23d3d;
$mmblue: #1E9FCC;
$badgeyellow: #FEF387;
$badgeborder: #D2C02B;

$LB1: #f26c59;
$LB2: #22bdc1;
$LB3: #A069E0;

$MaxWidth: 1100px;
$TextColor: $darkgrey;
$DataColor: #22bdc1;
$ButtonColor: $DataColor;


$debug: rgba(0,0,0,0.08);

/* In Context */
/*----------------------------------------------*/
$text-color: $darkgrey;
$border-color: $darkgrey;
$border-color-darken: darken($border-color, 5%);
$border-color-lighten: lighten($border-color, 5%);
$distfromtop: 20px;

/*----------------------------------------------*/
/*                    Base                      */
/*                                              */
/*----------------------------------------------*/
body, ul, li, ol, p{
  margin: 0px;
  padding: 0px;
  font-family: 'Hind', sans-serif;
  color: $darkgrey;
  font-weight: 300;
  line-height: 1.4em;
}

ul{
  list-style: none;
  margin-bottom: 0.5em;
}

body{
  background-color: #F2F2F2;
}

::-moz-selection { /* Code for Firefox */
    background: desaturate(lighten($mmYello, 24), 20);
}

::selection {
    background: desaturate(lighten($mmYello, 24), 20);
}

.centerme{
  text-align: center;
}

.inline{
  display: inline-block;
}

.center-text{
  text-align: center
}

// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

.site-canvas{
  z-index: -1;
};

a{
  text-decoration: none;
  color: darken($mmGreen, 10);
  transition: color 0.2s;
}

a:hover{
  color: lighten($mmGreen, 10);
}

.title{
  font-family: 'Hind';
  font-weight: 700;
  font-size: 2em;
  color: $darkgrey;
  margin: 0px;
  display: inline-block;
  line-height: 1em;
}

.section-baseline{
  border-bottom: 1px solid lighten($darkgrey, 40);
}

.section-header{
  margin-top: 1em;
  margin-bottom: 0px;
}

.sub-head{
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.6em;
  padding: 0.5em 0px 0.75em 0px;
  letter-spacing: 0.01em;
}

.textbox{
  padding-bottom: 0.5em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
  p{
    padding-bottom: 0.5em;
  }
  li{
    margin-bottom: 0.4em;
  }
  ol{
    margin-left: 20px;
  }
}

/*----------------------------------------------*/
/*                  Base: ;                     */
/*                                              */
/*                  Text                        */
/* weights: 300 thin, 400 regular, 700 bold, 900 black */ 
/*----------------------------------------------*/

header{
  background-color:$darkestgrey;
  top: 0px;
  width: 100%;
  height: 52px;
  color: $lightgrey;
  display: inline-block;
  input{
  }
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
    margin: 0px;
  }
}

.navbar-background{
  max-width: $MaxWidth;
  margin-left: auto;
  margin-right: auto;
}

.nav-icon{
  padding-top: 8px;
  float: left;
  padding-left: 2em;
  @media screen and (min-width: 1100px) {
    padding-left: 0;
  }
}

.nav-list{
  float: right;
  position: relative;
  display: inline-block;
  padding-right: 1em;
  @media screen and (min-width: 1100px){
    padding-right: 0px;
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.nav-input{
    float: right;
    display: inline-block;
    position: relative;
    bottom:3px;
    padding: 0px 16px 0px 40px;
}

.nav-item{
  padding:0px 10px 0px 10px;
  color: white;
  font-family: 'Lato';
  font-size: 0.9em;
  letter-spacing: 0.06em;
  height: 52px;
  line-height: 52px;
  transition: background 0.02s;
  &:hover{
    background-color: lighten($darkestgrey, 10);
    a{
/*      padding-bottom: 4px;
      border-bottom: 1px solid $lightgrey;  
*/    }
  }
  a{
    text-decoration: none;
    color: $lightgrey;
    &:hover{
      color: $lightgrey;    
    }
    &:visited{
      color: $lightgrey;
    }
  }
}

.nav-links{
  float:center;
}

.inner{
  max-width: $MaxWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    transition: opacity 0.1s;
    opacity: 0; 
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: lighten($darkestgrey, 10);
    width: 150px;
    z-index: 1;
    right: 0;
    -moz-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    -webkit-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    :hover{
      background-color: lighten($darkestgrey, 20);
    }
    .nav-item{
      border-top: 1px solid lighten($darkestgrey, 15);
    }
}

.nav-dropdown:hover .dropdown-content {
    opacity: 1;
    height: auto;
}

.resp-navbar{
  display: none;
  float: right;
  position: relative;
  height: 52px;
  line-height: 52px;
  padding-left: 1em;
  width: 100px;
  cursor: pointer;
  &:hover{
    background-color: lighten($darkestgrey, 10);
  }
  p{
    color: $lightgrey;
    font-family: 'Lato';
    font-size: 1em;
    letter-spacing: 0.06em;
    margin-top: 15px;
  }
  p:before{
    content: "";
    background: url('/assets/graphics/menubox.svg');
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 3px 6px 0 0;
  }
  @media screen and (max-width: 500px) {
    display: block;
  }
}

.resp-dropdown-content{
    transition: opacity 0.1s;
    opacity: 0; 
    height: 0;
    overflow: hidden;
    position: absolute;
    right:0;
    background-color: lighten($darkestgrey, 10);
    width: 200px;
    z-index: 1;
    right: 0;
    top:52px;
    -moz-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    -webkit-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    :hover{
      background-color: lighten($darkestgrey, 20);
    }
    .nav-item{
      border-top: 1px solid lighten($darkestgrey, 15);
    }
}


.resp-nav-dropdown {
    position: relative;
    display: inline-block;
    @media screen and (min-width: 500px) {
      display: none;
    }
}

.resp-nav-dropdown:hover .resp-dropdown-content {
    opacity: 1;
    height: auto;
}

/*----------------------------------------------*/
/*Interactive Buttons*/ 
/*----------------------------------------------*/
input[type="text"]{
  border:0px solid $lightgrey;
  box-sizing: none;
  width: auto;
  height: auto;
  margin: none;
  color: $darkgrey;
  -webkit-border-radius: 5px;
    background-color: lighten($lightgrey, 10);
    box-shadow: -1px -2px $lightgrey;
    padding: 2px 6px 4px 6px;
    &:focus{
      background-color: white;
    }
  outline: none;
}

.button{
  background-color: $ButtonColor;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  transition: active 0.25s;
  color: white;
  padding: 8px 14px 6px 14px;
  margin: 10px 8px 6px 0px;
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Lato';
  text-decoration:none;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition-property: background;
  transition-duration: 0.12s;
  transition-timing-function: linear;
  a{
    color: white;
    &:hover{
      color: white;   
    }
    &:visited{
      color: white;
    }
  }
}

.btn-blue{
  background-color: $mmTeal;
  color: white;
  &:hover{
    background-color: darken($ButtonColor, 12%);
  }
  &:active{
    background-color: darken($ButtonColor, 15%);
  }
  &:focus{
    background-color: darken($ButtonColor, 12%);
  }
}

.btn-grn{
  background-color: $mmGreen;
  color: white;
  &:hover{
    background-color: darken($mmGreen, 12%);
  }
  &:active{
    background-color: darken($mmGreen, 15%);
  }
  &:focus{
    background-color: darken($mmGreen, 12%);
  }
}

.invert-btn-blue{
  background-color: rgba(0,0,0,0);
  border: 1px solid $mmTeal;
  color: $mmTeal;
  &:hover{
    background-color: rgba(35, 188, 193, 0.2);
  }
  &:active{
    background-color: rgba(35, 188, 193, 0.2);
  }
  &:focus{
    background-color: rgba(35, 188, 193, 0.2);
  }
  a{
    color: $mmTeal;
    &:hover{
      color: white;   
    }
    &:visited{
      color: $mmTeal;
    }
  }
}

.invert-btn-grn{
  background-color: rgba(0,0,0,0);
  border: 1px solid darken($mmGreen, 10);
  color: darken($mmGreen, 10);
  &:hover{
    background-color: lighten($mmGreen, 24);
  }
  &:active{
    background-color: lighten($mmGreen, 24);
  }
  &:focus{
    background-color: lighten($mmGreen, 24);
  }
  a{
    color: darken($mmGreen, 10);
    &:hover{
      color: white;   
    }
    &:visited{
      color: darken($mmGreen, 10);
    }
  }
}

::-webkit-input-placeholder {
   color: lighten($darkgrey, 30);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($darkgrey, 8);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($darkgrey, 8);  
}

:-ms-input-placeholder {  
   color: lighten($darkgrey, 8);  
}



/*----------------------------------------------*/
/*              Overview Styles   */
/*               Navigation Bar   */                 
/*----------------------------------------------*/
#Subhead-Container{
  background-color: $darkgrey;
  height: 90px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#Subhead-Content{
  position: absolute;
  max-width: 1100px;
  width: 100%;
}

.Username{
  display: inline-block;
  position: absolute;
  top:57px;
  padding-left: 0.5em;
  color: white;
  p{
    font-size: 0.5em;
    color: $darkgrey;
    font-weight: 300;
    margin:0;
    margin-top: 6px;
  }
  @media screen and (max-width: 500px){
    font-size: 1.6em;
    top: 62px;
    padding-left: 16px;
    p{
    margin-top: 8px;
    font-size: 16px;
    }
  }
};

.ProfilePicture{
  z-index: 100;
  display: inline-block;
  padding-top: 10px;
    @media screen and (max-width: 400){
  margin-left: auto;
  margin-right: auto;
  }
}

.Subhead-Nav{
  float: right;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50px;
  a{
    padding: 16px 20px;
    margin-left: 20px;
    border-bottom: 0px;
    font-weight: 700;
    transition: background-color 0.1s;
    &:hover{
      background-color: #ddd;
      color: #999;  
    }
  }
    .activeLink {
      border: none;
      background-color: #eee;
    }
    @media screen and (max-width: 700px){
    top: 125px;
    right: auto;
    left: 53.1%;
    transform: translate(-50%, 0);
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
  } 
}

.white{
  background-color: $darkgrey;
  width: 100%;
  position: absolute;
  height: 90px;
}

/*----------------------------------------------*/
/*              Overview Styles   */
/*                 Containers      */              
/*----------------------------------------------*/

.Contribute-Timeline-Container{
  width: 99%;
  height: 180px;
  @media screen and (max-width: 1000px){
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
};

.Contribute-Timeline-Content{
  padding: 10px;
  height: 130px;
  &.tall {
    height: 155px;
  }
}

.Move-over{
  margin-top:20px;
  margin-left: 40px;
}

/*----------------------------------------------*/
/*              Overview Styles     */
/*                  Text            */         
/*----------------------------------------------*/
.Block-header{
  padding-top: 14px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 1.4em;
}

.Badge-Roll{
  position: relative;
  display: inline;
  li{
    padding: 8px;
  }
}

/*----------------------------------------------*/
/*              Overview Styles   */
/*                  Text            */        
/*----------------------------------------------*/
/*.hashtag-title{
  font-weight: 900;
  font-size: 1.8em;
}

.user-roll{
  width: 240px;
  li{
    padding-bottom:4px;
  }
}

.usertot{
  font-weight: 700;
  font-size: 1em;
  color: $darkestgrey;
  position: relative;
  display: inline-block;
  float: right;
}
*/


/*----------------------------------------------*/
/*             Badge Views Style    */
/*                                   */   
/*----------------------------------------------*/

.badgeicon {
  position: relative; 
  float: left;
  pointer-events: none;
}

.badge-home{
  width: 400px;
  height: 200px;
  img{
    float: left;
    margin: 20px;
  }
  hr{
    max-width: 80%;
  }
  @media screen and (max-width: 630px){
    width: auto;
    height: auto;
  }
}

.badge-Details{
  text-align: left;
  position: relative;
  float: right;
  width: 210px;
  @media screen and (max-width: 630px){
    text-align: center;
    float: initial;
    margin-left: auto;
    margin-right: auto;
  }
}

.badge-Name{
  padding-top: 40px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 1.4em;
}

.Badge-Description{
  font-weight: 300;
  margin-bottom: 10px;
}

.line-break{
  background-color: darken($lightgrey, 8%);
  height: 3px;
  width: 190px;
  float: right;
  margin-right: 20px;
  margin-bottom: 18px;
  @media screen and (max-width: 600px){
  }
}

.Badge-Container{
  max-width: 100%;
  min-width: 300px;
  margin: 20px 24px;
  margin-bottom: 0px;
  @media screen and (max-width: 1100px){
    position: relative;
    margin: 50px 10px 0px 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    }
}

/*----------------------------------------------*/
/*Container Styles*/ 
/*----------------------------------------------*/
.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.sub-container{
  border: $lightgrey solid 1px;
}

.sectionheader{
  padding-bottom: 32px;
}

.text-box{
  padding: 14px;
  width: 400px;
}

.badge-box {
  padding: 14px;
  width: 400px;
  height: 100%;
}

.badgeroll-frame{
  width: 100%;
  @media screen and (max-width: 630px){
    text-align: center;
  }
}

.badgeroll-center{
  max-width: 832px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1101px){
    max-width: 400px;
  }
  @media screen and (max-width: 600px){
    padding: 0px
  }
}


/*----------------------------------------------*/
/*FullStats Sytling*/ 
/*----------------------------------------------*/
#MapContainer{
  width: 75%;
  min-width: 300px;
  margin: 1em 1em 0 0;
  float: right;
  @media screen and (max-width: 1100px){
    position: relative;
    margin: 50px 10px 0px 10px;
    max-width: 75%;
    }
}

.MapContent{
  height: 360px;
}

#NumberContainer{
  position: absolute;
  width: 520px;
  height: 384px;
  right: 0px;
  margin: 20px 24px;
    @media screen and (max-width: 1100px){
      position: relative;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
}

.NumberContent{
  border: solid 1px #CCC;
  box-shadow: 1px 2px 1px rgba( 55, 55, 55, 0.1);
  padding: 10px;
  background-color: white;
  height: 360px;
}

#map{
  border: solid 1px #AAA;
  width: 100%;
  height: 100%;
}

#map1{
  height: 100%;
}

.box{
  padding-top: 40px;
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#Recent-Container{
  width: 600px;
  max-width: 90%;
  height: 275px;
  margin: 20px;
  padding: 0px;
  display: inline-block;
  margin: 20px;
  @media screen and (max-width: 100px){
    margin-left: auto;
    margin-right: auto;
    }
}

#Next-Container{
  width: 400px;
  height: 240px;
  padding: 0px;
  display: inline-block;
  margin: 20px;
  @media screen and (max-width: 100px){
    margin-left: auto;
    margin-right: auto;
    }
}

.Badge-Box-Content{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  &.front{
      text-align: center;
  }
}

#Badge-Container{
  max-width: 100%;
  min-width: 300px;
  padding-top: 30px;
  @media screen and (max-width: 1100px){
    position: relative;
    margin: 50px 10px 0px 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    }
}


#Stats-Container{
  width: 100%;
  max-width: 1100px;
  padding: 0px;
  display: inline-block;
  @media screen and (max-width: 1134px){
    max-width: 95%;
  }
  @media screen and (max-width: 600px){
    max-width: 90%;
  }
}

.card{
  width: 100%;
  height: inherit;
  background-color: #FFF;
  border: 1px solid #BBB;
  border-radius: 6px;
  box-shadow: 0px 2px 3px lightgrey;
}

.Card-title{
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 2px;
  font-size: 1.4em;
  font-weight: 800;
  color: #BBB;
}

/*----------------------------------------------*/
/* Card Styling */ 
/*----------------------------------------------*/
.Card-Content{
  margin-right: 30px;
  padding-top: 10px;
  word-wrap: break-word;
  p{
    margin: 4px 0px;
  }
}

.Card-Left{
  width: 49%;
  float:left;
}

.Card-Right{
  width: 47%;
  float:right;
  text-align: center;
  img{
    padding-top: 10px;
  }
}


h3{
  margin: 4px 0px 8px;  
  font-size: 2em;
}

.Card-Section-Title{
  font-weight: 300;
  border-bottom: 1px solid lighten($darkgrey, 40%);
  margin-bottom: 2px;
  display: inline-block;
}

.Card-Textbox{
  padding-bottom: 4px;
}

.Split-3{
  width: 33.3%;
  min-width: 300px;
  height: 240px;
  display: inline-block;
  vertical-align:top;
  padding-bottom: 2em;
  @media screen and (max-width: 1000px){
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

table, th, td {
   border-collapse:collapse;
}
th, td {
    padding: 0px 0px;
    text-align: left;
    line-height: 28px;
}

tr{
    border-bottom: 1px solid $border-grey;  
}

tr:first-child{
  font-weight: 600;
}

.Number-Stat{
  font-weight: 800;
  color: $DataColor;
  letter-spacing: 0.04em;
}

table{
  margin-top: 1em;
  width: 300px;
}

::-webkit-input-placeholder {
   color: lighten($darkgrey, 30);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($darkgrey, 8);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($darkgrey, 8);  
}

:-ms-input-placeholder {  
   color: lighten($darkgrey, 8);  
}


.Search-Container{
  width:100%;
  height:100%;
  position: relative;
  text-align: center;
  background-color: #EEE;
}

.search-bar-wrapper{
  width:340px;
  margin-left: auto;
  margin-right: auto;
}

.Search-Box{
  position: absolute;
  top: 160px;
  width: 100%;
  input{
    margin-right: 20px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-family: "lato";
    font-size: 1em;
    background-color: white;
  &.search-bar-submit{
    width: 100px;
    border-radius: 4px;
    padding-left: 0px;
    background-color: lighten($lightgrey, 10);
    border: 1px solid lighten($lightgrey, 0);
    color: $darkgrey;
    outline: none;
    transition: background-color 0.1s;
    &:active{
        background-color: lighten($lightgrey, 20);
      }
    }
  }
  img{
    padding-bottom: 40px;
  }
}

.Search-Content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.search-bar-suggestions{
  text-align: left;
  margin-top: 10px;
  li {
    margin-top: 4px;
    padding: 4px;
    display: block;
    width: 194px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: lighten($lightgrey, 10);
    &:hover{
      background-color: lighten($lightgrey, 20);
    };
  }
}

.Pie-Tin{
  text-align: center;
  margin: 1em 0px;
  font-family: 'Lato', sans-serif;
}

.ChartControls{
  font-family: 'Lato', sans-serif;
  text-align: center;
  input{
    margin-left: 5px;
    margin-right: 5px;
    cursor:pointer;
    text-decoration:none;
    transition: background-color 0.3s;
    border: 1px solid 1px;
    border-radius: 2px;
    background-color: $lightgrey;
    border: 1px solid lighten($darkgrey, 10%);
    &:active{
      background-color: white;
      border-color: lighten($darkgrey, 20%);
    }
    &:focus{
      outline: none;
    }
    &:hover{
      background-color: lighten($lightgrey, 14);
      border-color: lighten($darkgrey, 25%);
    }
  }
}

.next-badge-overlay{
  position:absolute;
  font-size: 2em;
  font-weight: 800;
  color: white;
}

.next-badge-overlay{
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}

.nextBadgeHome{
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    p{
      top: 36px;
      left: 38px;
      position: absolute;
    }
}

/* News Stylz */

.User-Page-Top{
}

#Recent-Edit-Container{
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  @media screen and (max-width: 700px){
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
    }
}

#Recent-Badge-Container{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  @media screen and (max-width: 700px){
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
  }
}

#Upcoming-Container{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  @media screen and (max-width: 700px){
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
  }
}

.Recent-Edit-Box{
  width: 280px;
  height: 80px;
  border: solid 2px rgba(0,0,0,0.12);
  background: rgba(0,0,0,0.1);
  padding: 14px 20px 0 10px;
  margin: 4px 0 1em 0;
  .EmphasizedNumber{
    font-size: 3em;
    float: left;
    margin-top: 26px;
    width: 104px;
    text-align: center;
  }
  .Recent-Edit-Sidebar{
    float: right;
  }
}

.Upcoming-Badges-Box{
  margin: 4px 0 1em 0;
  img{
    padding: 0 1em 0 0;
  }
}

.See-More-Badges{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #DDD;
  text-align: center;
  vertical-align: top;
  line-height: 56px;
  font-size: 2em;
  color: #BBB;
  transition: background-color 0.1s;
  &:hover{
    background-color: #CCC;
  };
}

/*----------------------------------------------*/
/*Special Text, for data, etc.*/ 
/*----------------------------------------------*/
.descriptor{
  font-size: 0.9em;
  font-family: 'Lato';
  font-weight: 300;
  color: lighten($TextColor, 20);
  text-transform: uppercase;
}

.emphasizedNumber{
  font-size: 2em;
  font-weight: 700;
  color: $DataColor;
  line-height:20px;
  margin-top: 2px;
}

.emphasizedText{
  font-weight: 700;
  color: $DataColor;
  display: inline-block;
  padding-left: 3px;
}

.stats-text{
  line-height: 10px;
  p{
    padding-bottom: 10px;
    display: inline-block;
  }
}

.Card-Badge{
  padding-top: 20px;
}
