body{
	background-color: pink;
	margin: 0;
}

#User-Container{
	width: 100%;
	height: 100%;
	background-color: rgba(30,30,30,0.2);
}

#Subhead-Container{
	background-color: rgba(30,30,30,0.4);
	height: 160px;
}

#Subhead-Content{
	position: absolute;
	top:40px;
}

.ProfilePicture{
	padding-left: 100px;
	display: inline-block;
}

.Username{
	display: inline-block;
}

#Main-User-Container{
	background-color: rgba(30,30,30,0.2);
	height: 400px;
}

