/*----------------------------------------------*/
/*Variables*/
/*----------------------------------------------*/
$osmgreen: #9dcf80;
$darkgreen: #38803D;
$darkgrey: #606161;
$lightgrey: #dbdbda;
$border-grey: lighten($darkgrey, 40);
$darkestgrey: #303030;

$mmTeal: #23bcc1;
$mmYello: #fbda32;
$mmGreen: #8bc544;
$mmred: #e23d3d;
$mmblue: #1E9FCC;
$badgeyellow: #FEF387;
$badgeborder: #D2C02B;

$LB1: #f26c59;
$LB2: #22bdc1;
$LB3: #A069E0;

$MaxWidth: 1100px;
$TextColor: $darkgrey;
$DataColor: #22bdc1;
$ButtonColor: $DataColor;


$debug: rgba(0,0,0,0.08);


/*----------------------------------------------*/
/*                    Base                      */
/*                                              */
/*----------------------------------------------*/
body, ul, li, ol, p{
  margin: 0px;
  padding: 0px;
  font-family: 'Hind', sans-serif;
  color: $darkgrey;
  font-weight: 300;
  line-height: 1.4em;
}

ul,li {
  list-style: none;
  margin-bottom: 0.5em;
}

body{
  background-color: #f7f7f7;
}

::-moz-selection { /* Code for Firefox */
    background: desaturate(lighten($mmYello, 24), 20);
}

::selection {
    background: desaturate(lighten($mmYello, 24), 20);
}

.centerme{
  text-align: center;
}

.inline{
  display: inline-block;
}

.center-text {
  text-align: center;
}

// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    max-width: 440px;
    margin: 200px auto;
    padding: 32px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

.site-canvas{
  z-index: -1;
};

a{
  text-decoration: none;
  color: darken($mmGreen, 10);
  transition: color 0.2s;
}

a:hover{
  color: lighten($mmGreen, 10);
}

.title{
  font-family: 'Hind';
  font-weight: 700;
}

/*----------------------------------------------*/
/*                  Base: ;                     */
/*                                              */
/*                  Text                        */
/* weights: 300 thin, 400 regular, 700 bold, 900 black */
/*----------------------------------------------*/

h1 {
  font-weight: 500;
  display: inline;
}

a {
  text-decoration: none;
  color: $darkgrey;
  &:hover {
    color: lighten(darkgrey, 5);
  }
  &:focus {
    color: lighten(darkgrey, 5);
  }
}

.titleheader {
  font-size: 2em;
  font-weight: 900;
  color: $darkgrey;
  margin: 0px;
  display: inline-block;
  line-height: 1em;
}

.section-baseline{
  border-bottom: 1px solid lighten($darkgrey, 40);
}

.section-header{
  margin-top: 1em;
  margin-bottom: 0px;
}

.sub-head{
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.6em;
  padding: 0.5em 0px 0.75em 0px;
  letter-spacing: 0.01em;
}

.textbox{
  padding-bottom: 0.5em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
  p{
    padding-bottom: 0.5em;
  }
  li{
    margin-bottom: 0.4em;
  }
  ol{
    margin-left: 20px;
  }
}

/*----------------------------------------------*/
/*                  Base: ;                     */
/*                                              */
/*                  Text                        */
/* weights: 300 thin, 400 regular, 700 bold, 900 black */ 
/*----------------------------------------------*/
header{
  background-color:$darkestgrey;
  top: 0px;
  width: 100%;
  height: 52px;
  color: $lightgrey;
  display: inline-block;
  input{
  }
  ul{
    display: inline-block;
  }
  li {
    display: inline-block;
    margin: 0;
  }
}

.navbar-background{
  max-width: $MaxWidth;
  margin-left: auto;
  margin-right: auto;
}

.nav-icon{
  padding-top: 8px;
  float: left;
  padding-left: 2em;
  @media screen and (min-width: 1100px) {
    padding-left: 0;
  }
}

.nav-list {
  position: relative;
  display: inline-block;
  padding-right: 1em;
  float: right;
  @media screen and (min-width: 1100px){
    padding-right: 0px;
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.nav-input{
    float: right;
    display: inline-block;
    position: relative;
    bottom:3px;
    padding: 0px 16px 0px 40px;
}

.nav-item{
  padding:0px 10px 0px 10px;
  color: white;
  font-family: 'Lato';
  font-size: 0.9em;
  letter-spacing: 0.06em;
  height: 52px;
  line-height: 52px;
  transition: background 0.02s;
  &:hover{
    background-color: lighten($darkestgrey, 10);
    a{
/*      padding-bottom: 4px;
      border-bottom: 1px solid $lightgrey;  
*/    }
  }
  a{
    text-decoration: none;
    color: $lightgrey;
    &:hover{
      color: $lightgrey;    
    }
    &:visited{
      color: $lightgrey;
    }
  }
}

.nav-links {
  float: center;
}

.inner{
  max-width: $MaxWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    transition: opacity 0.1s;
    opacity: 0; 
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: lighten($darkestgrey, 10);
    width: 150px;
    z-index: 1;
    right: 0;
    -moz-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    -webkit-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    :hover{
      background-color: lighten($darkestgrey, 20);
    }
    .nav-item{
      border-top: 1px solid lighten($darkestgrey, 15);
    }
}

.nav-dropdown:hover .dropdown-content {
    opacity: 1;
    height: auto;
}

.resp-navbar{
  display: none;
  float: right;
  position: relative;
  height: 52px;
  line-height: 52px;
  padding-left: 1em;
  width: 100px;
  cursor: pointer;
  &:hover{
    background-color: lighten($darkestgrey, 10);
  }
  p{
    color: $lightgrey;
    font-family: 'Lato';
    font-size: 1em;
    letter-spacing: 0.06em;
    margin-top: 15px;
  }
  p:before{
    content: "";
    background: url('/assets/graphics/menubox.svg');
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 3px 6px 0 0;
  }
  @media screen and (max-width: 500px) {
    display: block;
  }
}

.resp-dropdown-content{
    transition: opacity 0.1s;
    opacity: 0; 
    height: 0;
    overflow: hidden;
    position: absolute;
    right:0;
    background-color: lighten($darkestgrey, 10);
    width: 200px;
    z-index: 1;
    right: 0;
    top:52px;
    -moz-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    -webkit-box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    box-shadow: 1px 1px 1px lighten($darkestgrey, 35), -1px 1px 1px lighten($darkestgrey, 35);
    :hover{
      background-color: lighten($darkestgrey, 20);
    }
    .nav-item{
      border-top: 1px solid lighten($darkestgrey, 15);
    }
}


.resp-nav-dropdown {
    position: relative;
    display: inline-block;
    @media screen and (min-width: 500px) {
      display: none;
    }
}

.resp-nav-dropdown:hover .resp-dropdown-content {
    opacity: 1;
    height: auto;
}

/*----------------------------------------------*/
/*Interactive Buttons*/
/*----------------------------------------------*/
input[type='text'] {
  box-sizing: none;
  width: auto;
  height: auto;
  margin: none;
  padding: 2px 6px 4px 6px;
  color: $darkgrey;
  border: 0 solid $lightgrey;
  -webkit-border-radius: 5px;
  outline: none;
  background-color: lighten($lightgrey, 10);
  box-shadow: -1px -2px $lightgrey;
  &:focus {
    background-color: white;
  }
}

.button{
  background-color: $ButtonColor;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  transition: active 0.25s;
  color: white;
  padding: 8px 14px 6px 14px;
  margin: 10px 8px 6px 0px;
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Lato';
  text-decoration:none;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition-property: background;
  transition-duration: 0.12s;
  transition-timing-function: linear;
  a{
    color: white;
    &:hover{
      color: white;   
    }
    &:visited{
      color: white;
    }
  }
}

.btn-blue{
  background-color: $mmTeal;
  color: white;
  &:hover{
    background-color: darken($ButtonColor, 12%);
  }
  &:active{
    background-color: darken($ButtonColor, 15%);
  }
  &:focus{
    background-color: darken($ButtonColor, 12%);
  }
}

.btn-grn{
  background-color: $mmGreen;
  color: white;
  &:hover{
    background-color: darken($mmGreen, 12%);
  }
  &:active{
    background-color: darken($mmGreen, 15%);
  }
  &:focus{
    background-color: darken($mmGreen, 12%);
  }
}

.invert-btn-blue{
  background-color: rgba(0,0,0,0);
  border: 1px solid $mmTeal;
  color: $mmTeal;
  &:hover{
    background-color: rgba(35, 188, 193, 0.2);
  }
  &:active{
    background-color: rgba(35, 188, 193, 0.2);
  }
  &:focus{
    background-color: rgba(35, 188, 193, 0.2);
  }
  a{
    color: $mmTeal;
    &:hover{
      color: white;   
    }
    &:visited{
      color: $mmTeal;
    }
  }
}

.invert-btn-grn{
  background-color: rgba(0,0,0,0);
  border: 1px solid darken($mmGreen, 10);
  color: darken($mmGreen, 10);
  &:hover{
    background-color: lighten($mmGreen, 24);
  }
  &:active{
    background-color: lighten($mmGreen, 24);
  }
  &:focus{
    background-color: lighten($mmGreen, 24);
  }
  a{
    color: darken($mmGreen, 10);
    &:hover{
      color: white;   
    }
    &:visited{
      color: darken($mmGreen, 10);
    }
  }
}

::-webkit-input-placeholder {
  color: lighten($darkgrey, 30);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: lighten($darkgrey, 8);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: lighten($darkgrey, 8);
}

:-ms-input-placeholder {
  color: lighten($darkgrey, 8);
}


/*----------------------------------------------*/
/*              Overview Styles   */
/*               Navigation Bar   */
/*----------------------------------------------*/
#Subhead-Container{
  background-color: $darkgrey;
  height: 90px;
  max-width: 1100px;
  margin: 0 auto 1em auto;
}

#Subhead-Content {
  position: absolute;
  max-width: 1100px;
  width: 100%;
  max-width: 1100px;
}

.Username {
  position: absolute;
  top:57px;
  padding-left: 0.5em;
  color: white;
  p{
    font-size: 0.5em;
    color: $darkgrey;
    font-weight: 300;
    margin: 0;
    margin-top: 6px;
    color: $darkgrey;
  }
  @media screen and (max-width: 500px){
    font-size: 1.4em;
    top: 64px;
    padding-left: 16px;
    p{
    margin-top: 9px;
    font-size: 16px;
    }
  }
};

.ProfilePicture {
  z-index: 100;
  display: inline-block;
  margin-top: 12px;
  margin-left: 0px;
  border-width: 6px;
  border-style: solid;
  border-color: #bcbcbc;
  border-radius: 50%;
  background-image: url('../graphics/osm-user-blank.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:120px;
  height:120px;
}

.Subhead-Nav{
  float: right;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50px;
  a{
    padding: 16px 20px;
    margin-left: 20px;
    border-bottom: 0px;
    font-weight: 700;
    transition: background-color 0.1s;
    &:hover{
      background-color: #ddd;
      color: #999;  
    }
  }
  .activeLink {
    border: none;
    background-color: #eee;
  }
  @media screen and (max-width: 700px) {
    top: 125px;
    right: auto;
    left: 53.1%;
    margin-right: auto;
    margin-left: auto;
    transform: translate(-50%, 0);
  } 
}

.white{
  background-color: $darkgrey;
  width: 100%;
  position: absolute;
  height: 90px;
}

/*----------------------------------------------*/
/*              Overview Styles   */
/*                 Containers      */              
/*----------------------------------------------*/



/*----------------------------------------------*/
/*              Overview Styles   */
/*                 Containers      */
/*----------------------------------------------*/
#User-Container {
  width: 100%;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
}

#Main-User-Container {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  @media screen and (max-width: 1100px) {
    height: auto;
  }
}

.Recent-Badges-Container {
  position: absolute;
  min-width: 300px;
  max-width: 584px;
  margin: 20px 24px;
  @media screen and (max-width: 1100px) {
    position: relative;
    max-width: 75%;
    margin: 50px 10px 0 10px;
    margin-right: auto;
    margin-left: auto;
  }
}

.Quick-User-Stats-Container {
  position: absolute;
  right: 0;
  width: 430px;
  height: 384px;
  margin: 20px 24px;
  @media screen and (max-width: 1100px) {
    position: relative;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

.Quick-User-Stats-Content {
  font-weight: 300;
  width: 100%;
  height: 374px;
  padding-top: 10px;
  border: solid 1px #ccc;
  background-color: white;
  box-shadow: 1px 2px 1px rgba( 55, 55, 55, .1);
  h1 {
    font-size: 2.5em;
    display: inline;
  }
  h2 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 2.8;
    display: inline;
    float: right;
    margin: 0;
  }
  p {
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 8px;
    b {
      font-size: 1em;
      font-weight: 300;
      float: right;
    }
  }
}

.Quick-User-Stats-Block {
  display: inline-block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  border: solid 1px $debug;
}

.Contribute-Timeline-Container{
  width: 99%;
  height: 180px;
  margin-bottom: 2em;
  @media screen and (max-width: 1000px){
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
};

.Contribute-Timeline-Content {
  height: 130px;
  &.tall {
    height: 155px;
  }
}

.Move-over {
  margin-top: 20px;
  margin-left: 40px;
}

/*----------------------------------------------*/
/*              Overview Styles     */
/*                  Text            */
/*----------------------------------------------*/
.Block-header {
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 8px;
  padding-top: 14px;
}

.Badge-Roll {
  position: relative;
  display: inline;
  li {
    padding: 8px;
    display: inline-block;
  }
}

/*----------------------------------------------*/
/*              Overview Styles   */
/*                  Text            */
/*----------------------------------------------*/
/*.hashtag-title{
  font-weight: 900;
  font-size: 1.8em;
}

.user-roll{
  width: 240px;
  li{
    padding-bottom:4px;
  }
}

.usertot{
  font-weight: 700;
  font-size: 1em;
  color: $darkestgrey;
  position: relative;
  display: inline-block;
  float: right;
}
*/


/*----------------------------------------------*/
/*             Badge Views Style    */
/*                                   */
/*----------------------------------------------*/

.badgeicon {
  position: relative;
  float: left;
  pointer-events: none;
}

.badge-home {
  width: 400px;
  height: 200px;
  img {
    float: left;
    margin: 20px;
  }
  hr {
    max-width: 80%;
  }
  @media screen and (max-width: 630px) {
    width: auto;
    height: auto;
  }
}

.badge-Details {
  position: relative;
  float: right;
  width: 210px;
  text-align: left;
  .sub-head{
    padding-bottom: 0px;
    line-height: 1.2em;
  }
  @media screen and (max-width: 630px) {
    float: initial;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.badge-Name {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 2px;
  padding-top: 40px;
}

.Badge-Description {
  font-weight: 300;
  margin-bottom: 10px;
}

.line-break {
  float: right;
  width: 190px;
  height: 1px;
  margin-right: 20px;
  margin-bottom: 18px;
  background-color: darken($lightgrey, 8%);
  @media screen and (max-width: 600px) {
  }
}

.Badge-Container {
  min-width: 300px;
  max-width: 100%;
  margin: 20px 24px;
  margin-bottom: 0;
  @media screen and (max-width: 1100px) {
    position: relative;
    max-width: 75%;
    margin: 50px 10px 0 10px;
    margin-right: auto;
    margin-left: auto;
  }
}


/*----------------------------------------------*/
/*Container Styles*/
/*----------------------------------------------*/
.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.sub-container {
  border: $lightgrey solid 1px;
}

.sectionheader {
  padding-bottom: 32px;
}

.text-box {
  width: 400px;
  padding: 14px;
}

.badge-box {
  width: 400px;
  height: 100%;
  padding: 14px;
}

.badgeroll-frame {
  width: 100%;
  @media screen and (max-width: 630px) {
    text-align: center;
  }
}

.badgeroll-center {
  max-width: 832px;
  margin: 0 auto 0 auto;
  padding: 0 20px 2em 20px;
  @media screen and (max-width: 1101px) {
    max-width: 400px;
  }
  @media screen and (max-width: 600px) {
    padding: 0;
  }
}


/*----------------------------------------------*/
/*FullStats Sytling*/
/*----------------------------------------------*/
#MapContainer{
  width: 99%;
  min-width: 300px;
  margin: 1em 1em 0 0;
  @media screen and (max-width: 1100px){
    position: relative;
    margin: 0;
    }
}

.MapContent{
  height: 360px;
}

#NumberContainer {
  position: absolute;
  right: 0;
  width: 520px;
  height: 384px;
  margin: 20px 24px;
  @media screen and (max-width: 1100px) {
    position: relative;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

.NumberContent {
  height: 360px;
  padding: 10px;
  border: solid 1px #ccc;
  background-color: white;
  box-shadow: 1px 2px 1px rgba( 55, 55, 55, .1);
}

#map{
  border: solid 1px #AAA;
  width: 100%;
  height: 100%;
}

#map1 {
  height: 100%;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
}

#Recent-Container{
  display: inline-block;
  width: 500px;
  max-width: 90%;
  height: 275px;
  margin: 20px;
  padding: 0;
  @media screen and (max-width: 100px) {
    margin-right: auto;
    margin-left: auto;
  }
}

#Next-Container {
  display: inline-block;
  width: 500px;
  height: 240px;
  margin: 20px;
  padding: 0;
  @media screen and (max-width: 100px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.Badge-Box-Content {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  &.front {
    text-align: center;
  }
}

#Badge-Container {
  min-width: 300px;
  max-width: 100%;
  @media screen and (max-width: 1100px) {
    position: relative;
    max-width: 75%;
    margin: 50px 10px 0 10px;
    margin-right: auto;
    margin-left: auto;
  }
}


#Stats-Container{
  width: 100%;
  max-width: 1100px;
  padding: 0px;
  display: inline-block;
  margin-bottom: 2em;
  @media screen and (max-width: 1134px){
    max-width: 95%;
  }
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.card {
  width: 100%;
  height: inherit;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 3px lightgrey;
}

.Card-title {
  font-size: 1.4em;
  font-weight: 800;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 2px;
  text-align: center;
  color: #bbb;
}


/*----------------------------------------------*/
/* Card Styling */
/*----------------------------------------------*/
.Card-Content{
  margin-right: 30px;
  padding-top: 10px;
  word-wrap: break-word;
  p {
    margin: 4px 0;
  }
}

.Card-Left {
  float: left;
  width: 49%;
}

.Card-Right {
  float: right;
  width: 47%;
  text-align: center;
  img {
    padding-top: 10px;
  }
}

.Card-Badge-Name {
  position: relative;
  padding-top: 10px;
}

h3 {
  font-size: 2em;
  margin: 4px 0 8px;
}

.Card-Section-Title {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 2px;
  border-bottom: 1px solid lighten($darkgrey, 40%);
}

.Card-Textbox {
  padding-bottom: 4px;
}

.Split{
  /*  background-color: rgba(0,0,0,0.1); */
  width: 33.3%;
  min-width: 300px;
  height: 240px;
  display: inline-block;
  vertical-align:top;
  padding-bottom: 2em;
  @media screen and (max-width: 1000px){
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

table, th, td {
   border-collapse:collapse;
}
th, td {
    padding: 0px 0px;
    text-align: left;
    line-height: 28px;
}

tr{
    border-bottom: 1px solid $border-grey;  
}

tr:first-child{
  font-weight: 600;
}

.Number-Stat{
  font-weight: 800;
  color: $DataColor;
  letter-spacing: 0.04em;
}

table{
  margin-top: 1em;
  width: 300px;
}

::-webkit-input-placeholder {
   color: lighten($darkgrey, 30);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($darkgrey, 8);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($darkgrey, 8);  
}

:-ms-input-placeholder {  
   color: lighten($darkgrey, 8);  
}

.Search-Container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eee;
}

.search-bar-wrapper {
  width: 340px;
  margin-right: auto;
  margin-left: auto;
}

.Search-Box {
  position: absolute;
  width: 100%;
  padding-top: 4.5em;
  input {
    font-family: 'lato';
    font-size: 1em;
    width: 200px;
    height: 40px;
    margin-top: 2;
    margin-right: 200pxpx;
    padding-left: 10px;
    background-color: white;
    &.search-bar-submit {
      width: 100px;
      padding-left: 0;
      transition: background-color .1s;
      color: $darkgrey;
      border: 1px solid lighten($lightgrey, 0);
      border-radius: 4px;
      outline: none;
      background-color: lighten($lightgrey, 10);
      &:active {
        background-color: lighten($lightgrey, 20);
      }
    }
  }
  img {
    padding-bottom: 40px;
  }
}

.Search-Content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.search-bar-suggestions {
  margin-top: 10px;
  text-align: left;
  li {
    display: block;
    width: 194px;
    margin-top: 4px;
    padding: 4px;
    cursor: pointer;
    transition: background-color .3s;
    background-color: lighten($lightgrey, 10);
    &:hover {
      background-color: lighten($lightgrey, 20);
    };
  }
}

.Pie-Tin{
  text-align: center;
  margin: 1em 0px;
  font-family: 'Lato', sans-serif;
}

.ChartControls {
  font-family: 'Lato', sans-serif;
  text-align: center;
  input {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
    border: 1px solid 1px;
    border: 1px solid lighten($darkgrey, 10%);
    border-radius: 2px;
    background-color: $lightgrey;
    &:active {
      border-color: lighten($darkgrey, 20%);
      background-color: white;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      border-color: lighten($darkgrey, 25%);
      background-color: lighten($lightgrey, 14);
    }
    &.disabled {
      pointer-events: none;
      opacity: .65;
      background-image: repeating-linear-gradient(
      45deg, transparent,
      transparent 3px,
      rgba(255,255,255,.75) 3px,
      rgba(255,255,255,.75) 6px
      );
    }
  }
}

.next-badge-overlay {
  font-size: 2em;
  font-weight: 800;
  position: absolute;
  color: white;
}

.next-badge-overlay {
  position: relative;
  height: auto;
  margin: auto;
  text-align: center;
}

.nextBadgeHome{
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    p{
      top: 36px;
      left: 38px;
      position: absolute;
    }
}

/* News Stylz */

.User-Page-Top{
}

#Recent-Edit-Container{
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  @media screen and (max-width: 700px){
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
    }
}

#Recent-Badge-Container{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  @media screen and (max-width: 700px){
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
  }
}

#Upcoming-Container{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  @media screen and (max-width: 700px){
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
  }
}

.Recent-Edit-Box{
  width: 280px;
  height: 80px;
  border: solid 2px rgba(0,0,0,0.12);
  background: rgba(0,0,0,0.1);
  padding: 14px 20px 0 10px;
  margin: 4px 0 1em 0;
  .EmphasizedNumber{
    font-size: 3em;
    float: left;
    margin-top: 26px;
    width: 104px;
    text-align: center;
  }
  .Recent-Edit-Sidebar{
    float: right;
  }
}

.Upcoming-Badges-Box{
  margin: 4px 0 1em 0;
  img{
    padding: 0 1em 0 0;
  }
}

.See-More-Badges{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #DDD;
  text-align: center;
  vertical-align: top;
  line-height: 56px;
  font-size: 2em;
  color: #BBB;
  transition: background-color 0.1s;
  &:hover{
    background-color: #CCC;
  };
}

/*----------------------------------------------*/
/*Special Text, for data, etc.*/ 
/*----------------------------------------------*/
.descriptor{
  font-size: 0.9em;
  font-family: 'Lato';
  font-weight: 300;
  color: lighten($TextColor, 20);
  text-transform: uppercase;
}

.emphasizedNumber{
  font-size: 2em;
  font-weight: 700;
  color: $DataColor;
  line-height:20px;
  margin-top: 2px;
}

.emphasizedText{
  font-weight: 700;
  color: $DataColor;
  display: inline-block;
  padding-left: 3px;
}

.stats-text{
  line-height: 10px;
  p{
    padding-bottom: 10px;
    display: inline-block;
  }
}

.Card-Badge{
  padding-top: 20px;
}

.footer-container{
  background-color: $darkgrey;
  color: $lightgrey;
  padding: 0.6em 0 0.5em 0;
}

.Stats-Item{
  width: 172px;
  height: 50px;
  padding: 10px;
  display: inline-block;
  img{
    float:left;
    vertical-align: middle;
  }
}

.Stat-Info{
  vertical-align: top;
  float: right;
  text-align: left;
  width: 110px;
  margin-top: 3px;
}

.Split-ByNumbers{
  width: 39%;
  height: auto;
}

.Split-Diversity{
  width: 26.6%;
  height: auto;
}

.Split-WorldReach{
  width: 20%;
  min-width: 200px;
  padding-right: 20px;
  height: auto;
  table{
    width: 200px;
  }
}

.Split-Map{
  vertical-align: top;
  width: 75%;
  height: auto;
}

